/YouGou8/Chloe/bin

/YouGou8/Chloe/obj
/YouGou8/Chloe/Properties
/YouGou8/CChloe.MySql/bin

/YouGou8/Chloe.MySql/obj
/YouGou8/Chloe.MySql/Properties
/YouGou8/Utility/bin

/YouGou8/Utility/obj
/YouGou8/Utility/Properties
/YouGou8/YouGou8.Admin/bin

/YouGou8/YouGou8.Admin/obj
/YouGou8/YouGou8.Admin/Properties
/YouGou8/YouGou8.Admin2.0/bin

/YouGou8/YouGou8.Admin2.0/obj
/YouGou8/YouGou8.Admin2.0/Properties
/YouGou8/YouGou8.DAL/bin

/YouGou8/YouGou8.DAL/obj
/YouGou8/YouGou8.DAL/Properties
/YouGou8/YouGou8.Model/bin

/YouGou8/YouGou8.Model/obj
/YouGou8/YouGou8.Model/Properties
/YouGou8/YouGou8.Service/bin

/YouGou8/YouGou8.Service/obj
/YouGou8/YouGou8.Service/Properties
/YouGou8/YouGou8.Web/bin

/YouGou8/YouGou8.Web/obj
/YouGou8/YouGou8.Web/Properties