
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Code</title>
</head>
<body>
    <div> 
        @if (!string.IsNullOrWhiteSpace(ViewBag.Src))
        {
        <img src="@ViewBag.Src" />
        }else
        {
            <span>生成二维码失败</span>
        }
    </div>
</body>
</html>
