
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .div-img{
            width:100%;
        }
        .div-img img{
            width: 150px;
            float: left;
        }
        .div-text{
            clear:both;
            width:100%;
        }
        .div-img textarea{
            width: 100%;
        }
    </style>
</head>
<body>
    @foreach (var item in ViewBag.Dict as Dictionary<string, string>)
    {
        <div class="div-img"> 
            @foreach(var img in item.Key.Split('|'))
            {
                <img src="@img" />
            }
        </div>
        <div class="div-text">
            <textarea rows="10" style="width:80%;margin:0 auto;">@item.Value</textarea>
        </div>
        <hr />
    }
</body>
</html>
